.analogous {
  height: 100%;
  background-color: var(--ana-sb-1);
}

.analogous .sample-navbar {
  padding: 2rem;
  color: var(--ana-sb-1-c);
}

.analogous-hero {
  position: relative;
  padding: 0 2rem 2rem;
  margin: 4rem auto;
  text-align: center;
  border-bottom: 3px dashed var(--ana-sb-2);
}

.analogous-title p {
  font-size: 4rem;
  font-weight: 900;
  line-height: 0.8;
  color: var(--ana-sb-2);
  text-transform: uppercase;
  letter-spacing: -0.3px;
}

.analogous-bird {
  position: absolute;
  top: -2rem;
  left: 50%;
  width: 50%;
  height: 15rem;
  margin-inline: auto;
  translate: -50% 0;
}

.analogous-bird svg {
  width: 100%;
  height: 100%;
  filter: drop-shadow(5px 5px 5px rgb(0 0 0 / 50%));
}

.analogous-subtitle {
  padding: 2rem;
  font-size: 1.15rem;
  color: var(--ana-og-2-c);
  text-align: center;
}

.analogous-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem;
}

.analogous-card {
  position: relative;

  /* overflow: hidden; */
  border-radius: 2rem;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%), 0 2px 0.25rem rgb(0 0 0 / 20%);
  transition: translate 0.3s, box-shadow 0.3s;
}

.analogous-card:hover {
  box-shadow: 0 1rem 2rem rgb(0 0 0 / 15%), 0 2px 0.25rem rgb(0 0 0 / 20%);
  translate: 0 -0.5rem;
}

.analogous-card a {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  aspect-ratio: 3 / 4;
  overflow: hidden;
  text-decoration: none;
  border-radius: 2rem;
}

.analogous-card a::after {
  position: absolute;
  inset: 0;
  content: "";
  background-image: linear-gradient(to top, rgb(0 0 0/ 75%), transparent);
}

.analogous-card img {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.analogous-card-body {
  position: relative;
  z-index: 1;
  padding: 1rem;
  font-size: 1.15rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
}
