.options-container {
  display: grid;
  grid-template-columns: subgrid;
  grid-row: 5;
  grid-column: 9 / 11;
  gap: var(--base-gap);
}

@container synth (width < 900px) {
  .options-container {
    grid-row: 7;
    grid-column: 9 / span 2;
  }
}
