/* Src ❤️ https://codepen.io/nicolasjesenberger/details/gOqzJed */
.button-container {
  --background-color: hsl(248deg 11% 80%);
  --background-color-active: hsl(248deg 11% 78%);
  --light-shadow-color: hsl(248deg 11% 95%);
  --dark-shadow-color: hsl(248deg 11% 5%);
  --button-container: #000;
  --button-container-shadow: 0.0625em 0.0625em 0.0625em rgb(255 255 255 / 60%);
  --shadow-color: 0 2% 32%;
  --shadow-elevation-high: 0px 0.5px 0.6px hsl(var(--shadow-color) / 34%),
    0px 2.9px 3.3px -0.4px hsl(var(--shadow-color) / 34%), 0px 5.5px 6.2px -0.7px hsl(var(--shadow-color) / 34%),
    -0.1px 9px 10.1px -1.1px hsl(var(--shadow-color) / 34%), -0.1px 14.4px 16.2px -1.4px hsl(var(--shadow-color) / 34%),
    -0.2px 22.5px 25.3px -1.8px hsl(var(--shadow-color) / 34%),
    -0.2px 34.2px 38.5px -2.1px hsl(var(--shadow-color) / 34%),
    -0.4px 50.4px 56.7px -2.5px hsl(var(--shadow-color) / 34%);

  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  height: 40px;
  padding: 2px;

  /* padding: var(--spacing-01); */
  background-color: var(--button-container);
  border-radius: 2px;

  .button-container-inner {
    width: 100%;
    height: 100%;
    padding: 1px;
    background: linear-gradient(to bottom, #fff, #000);
    border-radius: 5px;

    &:has(.active) {
      background: linear-gradient(to bottom, #000, #000);
    }
  }

  & button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: var(--spacing-02);
    font-size: var(--x-small);

    /* font-weight: 200; */
    color: var(--element);
    text-transform: uppercase;
    letter-spacing: 0.8px;
    background-image: linear-gradient(to bottom, #cdcccb, #ccc);
    background-size: 80px 80px;
    border-radius: 5px;
    box-shadow: var(--shadow-elevation-high);

    /* transition-timing-function: cubic-bezier(0.25, 0.5, 0.5, 1);
    transition-duration: 0.2s;
    transition-property: background-image, box-shadow; */

    &:active,
    &.active {
      background-image: linear-gradient(to bottom, hsl(30deg 2% 75%), hsl(0deg 0% 75%));
      box-shadow: inset 3px 3px 0.75em hsl(0deg 0% 15% / 75%);

      /* transform: scale(0.98); */
    }
  }
}

[data-mode='dark'] {
  .button-container {
    --background-color: hsl(248deg 11% 20%);
    --background-color-active: hsl(248deg 11% 18%);
    --light-shadow-color: hsl(248deg 11% 25%);
    --dark-shadow-color: hsl(248deg 11% 5%);
    --button-container: hsl(248deg 11% 15%);
    --button-container-shadow: 0.0625em 0.0625em 0.0625em rgb(255 255 255 / 10%);
  }
}
