/* Src ❤️ https://codepen.io/nicolasjesenberger/details/gOqzJed */

.button-container.inverse {
  --icon-gradient-center: hsl(0deg 0% 59%);
  --icon-gradient-top: hsl(260deg 5% 89%);

  button {
    color: var(--inverse-element);
    background-image: var(--inverse-button-background);
  }
}

[data-mode='dark'] {
  .button-container.inverse {
    --icon-gradient-top: hsl(249deg 50% 0%);
    --icon-gradient-center: hsl(240deg 1% 55%);
  }
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  height: 40px;
  background-color: var(--button-container);
  border: 2px solid transparent;
  border-radius: 1px;
  box-shadow: none;

  &:has(button:active, button.active) {
    box-shadow: var(--button-active-shadow);
  }

  & button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    /* padding: 0.625em 0.75em 0.4375em; */
    font-size: var(--x-small);
    color: var(--element);
    text-transform: uppercase;
    background-image: var(--button-background);
    border-radius: 6px;
    box-shadow: var(--button-shadow);

    &:active,
    &.active {
      box-shadow: inset 0 1px 5px rgb(0 0 0 / 88.5%);
      filter: brightness(0.9);
      translate: 0 0.5px;
    }
  }
}
