/* Src ❤️ https://codepen.io/nicolasjesenberger/details/gOqzJed */
.button-container {
  --background-color: hsl(248deg 11% 80%);
  --background-color-active: hsl(248deg 11% 78%);
  --light-shadow-color: hsl(248deg 11% 95%);
  --dark-shadow-color: hsl(248deg 11% 5%);
  --button-container: #000;
  --button-container-shadow: 0.0625em 0.0625em 0.0625em rgb(255 255 255 / 60%);

  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  height: 40px;
  padding: 2px;

  /* padding: var(--spacing-01); */
  background-color: var(--button-container);
  border-radius: 2px;

  .button-container-inner {
    width: 100%;
    height: 100%;
    padding: 1px;
    background: var(--button-rim);
    border-radius: 5px;

    &:has(.active) {
      background: linear-gradient(to bottom, #000, #000);
    }
  }

  & button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: var(--spacing-02);
    font-size: var(--x-small);

    /* font-weight: 200; */
    color: var(--element);
    text-transform: uppercase;
    letter-spacing: 0.8px;
    background-image: var(--button-background);
    background-size: 80px 80px;
    border-radius: 5px;
    box-shadow: var(--shadow-elevation-high);

    /* transition-timing-function: cubic-bezier(0.25, 0.5, 0.5, 1);
    transition-duration: 0.2s;
    transition-property: background-image, box-shadow; */

    &:active,
    &.active {
      color: var(--active-button-text-color);
      text-shadow: var(--active-button-text-shadow);
      background-image: var(--button-active);
      box-shadow: inset 3px 3px 0.75em hsl(0deg 0% 15% / 75%);

      /* transform: scale(0.98); */
    }
  }
}
