.cc-select-trigger {
  display: inline-flex;
  align-items: center;
  gap: 0.375rem;
  justify-content: space-between;
  border-radius: var(--radius-md);
  border: 1px solid var(--color-outline-variant);
  [data-style="diamond"] & {
    border-color: var(--color-outline);
  }
  background: var(--color-container);
  color: var(--color-on-surface);
  font-size: 0.8125rem;
  padding: 0.2rem 0.75rem;
  cursor: pointer;
  box-shadow: var(--shadow-elevation-low);
  min-width: 3.5rem;
  transition:
    background 120ms,
    border-color 120ms;

  &:hover {
    background: var(--color-container-overlay);
  }

  &:active {
    box-shadow: none;
  }
}

.cc-popup.cc-select-popup {
  padding-inline: 0;
  min-width: 10rem;
}

.cc-select-item {
  outline: 0;
  font-size: 0.8125rem;
  line-height: 1rem;
  font-size: 0.8125rem;
  padding: 0.2rem 0.75rem;
  display: grid;
  gap: 0.375rem;
  align-items: center;
  grid-template-columns: 1em 1fr;
  cursor: default;
  /*border-radius: var(--radius-md);*/
  user-select: none;

  &[data-highlighted] {
    background-color: var(--color-primary-container);
    color: var(--color-on-primary-container);
  }

  :where([data-style="diamond"], [data-style="circle"]) & {
    &[data-highlighted] {
      background-color: var(--color-primary);
      color: var(--color-on-primary);
    }
  }
}

.cc-list-indicator {
  grid-column-start: 1;
}

.cc-list-text {
  grid-column-start: 2;
}

.cc-scroll-arrow {
  width: 100%;
  background-color: var(--color-container);
  z-index: 1;
  text-align: center;
  cursor: default;
  height: 1rem;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
  }

  &[data-direction="up"] {
    top: 0;

    &[data-side="none"] {
      &::before {
        top: -100%;
      }
    }
  }

  &[data-direction="down"] {
    bottom: 0;

    &[data-side="none"] {
      &::before {
        bottom: -100%;
      }
    }
  }
}
