.display-info-container {
  display: flex;
  grid-row: 5;
  grid-column: span 2 / -1;
  gap: var(--spacing-03);
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: var(--spacing-02);
  font-size: var(--x-small);
  color: #fff;
  text-transform: uppercase;
  background-color: #000;
  border-radius: 4px;
}

.display-info-message {
  justify-content: start;
  padding-inline: var(--spacing-04);
  font-weight: 700;
}

.display-info-success {
  background-color: #001e00;
}

.display-info-error {
  background-color: rgb(39 0 0);
}

.display-info-info {
  background-color: rgb(0 0 38);
}
