.container {
  display: flex;
  grid-row: 5;
  grid-column: span 2 / -1;
  gap: var(--spacing-03);
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: var(--spacing-02);
  font-size: var(--x-small);
  color: #fff;
  text-transform: uppercase;
  background-color: #000;
  border-radius: 4px;
}

.success {
  background-color: #008000;
}

.error {
  background-color: #f00;
}

.info {
  background-color: #00f;
}
