.display-info-container {
  grid-row: 5;
  grid-column: span 2 / -1;
  height: 40px;
  padding: var(--spacing-02);
  font-size: var(--x-small);
  color: #fff;
  text-transform: uppercase;
  background-color: #000;
  border-radius: 4px;

  p {
    text-box: trim-both cap alphabetic;
  }
}

.display-info-default {
  display: flex;
  gap: var(--spacing-03);
  align-items: center;
  justify-content: center;
  height: 100%;
}

.display-info-message {
  display: flex;
  gap: var(--spacing-03);
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-inline: var(--spacing-04);
  font-weight: 600;
  text-transform: none;
  letter-spacing: 0.1px;
}

.display-info-success {
  color: var(--success);
}

.display-info-error {
  color: var(--error);
}

.display-info-info {
  color: var(--warning);
}
