.manual-container {
  padding: var(--box-padding);
  color: var(--elemnt);
  background-color: var(--bg);
}

.manual-content {
  max-width: 65ch;
  min-height: 100lvh;
  padding: 2rem;
  margin-inline: auto;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block: 0 0.5lh;
  }

  h1 {
    font-family: Orbitron, sans-serif;
  }

  & > * {
    margin-block-end: 1lh;
  }

  ol {
    list-style-position: inside;
  }
}
