.manual-container {
  line-height: 1.4;
  color: var(--element);
  background: color-mix(in oklch, black 10%, var(--paper));

  .divider {
    height: 1px;
    margin-block: 1rem;
    background: var(--element);
    opacity: 0.15;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block: 0 0.5lh;
  }

  h1 {
    margin: 0;
    font-family: Orbitron, sans-serif;
  }

  & > * {
    margin-block-end: 1lh;
  }

  ol {
    list-style-position: inside;
  }

  .manual-section {
    position: relative;
    min-height: 100svh;
    padding: 1rem;
    margin-block: 1rem;
    counter-increment: manual-section;
    background: var(--paper);

    &::after {
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      font-size: 10px;
      content: counter(manual-section);
    }

    & > * {
      max-width: 50ch;
      margin-inline: auto;
    }
  }
}
