.input-color {
  display: flex;
  grid-column: 2 / 7;
  gap: var(--spacing-03);
  align-items: center;
  justify-content: space-between;

  input {
    width: 100%;
    height: 40px;
    font-size: 1.2rem;
    color: var(--input-color);
    background-color: var(--input-bg);
    box-shadow: inset 2px 2px 0.5em hsl(0deg 0% 0% / 15%), inset -2px -2px 0.5em hsl(0deg 0% 100% / 15%);
  }
}
