.knobs {
  display: grid;
  grid-template-rows: subgrid;
  grid-template-columns: subgrid;
  grid-row: 2 / 7;
  grid-column: 7 / 9;
}

.knob-container {
  display: flex;
  flex-direction: column;
  grid-row: span 2;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.knob-outer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 60px;
  aspect-ratio: 1;
  cursor: ns-resize;
  background: var(--knob-background);
  border-radius: 50%;
  box-shadow: var(--knob-shadow);
}

.knob-outer.dragging {
  cursor: ns-resize;
}

.knob-inner {
  position: relative;
  width: 30px;
  aspect-ratio: 1;
  background: var(--knob-inner-background);
  border-radius: 50%;
}

.knob-inner-shadow {
  position: absolute;
  inset: 0;
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: var(--knob-inner-shadow);
  translate: 50% 50%;
}

.knob-display {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  padding: 4px;
  font-size: var(--x-small);
  color: #fff;
  background: #000;
  border-radius: 5px;

  input {
    padding: 0;
    color: #fff;
  }
}

.knob-indicator {
  --radius: 10px;
  --dot: 4px;

  position: absolute;
  top: calc(50% - var(--dot) / 2);
  left: calc(50% - var(--dot) / 2);
  width: var(--dot);
  height: var(--dot);
  background: var(--knob-indicator-background);
  border-radius: 50%;
  transform-origin: center;
  translate: calc(sin(var(--angle) * -1) * var(--radius)) calc(cos(var(--angle)) * var(--radius));
}
