.palette-selector-container {
  display: grid;
  flex: 1;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  justify-items: center;
}

.palette-selector {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-04);
  align-items: center;

  & p {
    font-size: var(--x-small);
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
  }

  & div {
    box-sizing: content-box;
    padding: var(--spacing-02);
    background-color: #c8c8c8;
    border-radius: 50%;
    outline: var(--spacing-01) solid #000;
    box-shadow: inset 1px 1px 2px rgb(255 255 255 / 65%), inset -1px -1px 2px rgb(0 0 0 / 35%),
      2px 2px 0.15em rgb(0 0 0 / 35%);
  }

  &:where(:active, .active) div {
    box-shadow: inset 1px 1px 4px rgb(0 0 0 / 35%), inset -1px -1px 4px rgb(0 0 0 / 35%), 2px 2px 1px rgb(0 0 0 / 35%);
  }
}
