.palette-selector-container {
  display: grid;
  flex: 1;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  justify-items: center;
}

.palette-selector {
  --background-color: hsl(248deg 11% 80%);
  --background-color-active: hsl(248deg 11% 78%);
  --light-shadow-color: hsl(248deg 11% 95%);
  --dark-shadow-color: hsl(248deg 11% 5%);

  display: flex;
  flex-direction: column;
  gap: var(--spacing-04);
  align-items: center;

  & p {
    font-size: var(--x-small);
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
  }

  & div {
    position: relative;
    box-sizing: content-box;
    padding: var(--spacing-02);
    background-color: hsl(248deg 11% 35%);
    border: 2px solid transparent;
    border-radius: 50%;
    box-shadow: 0.0625em 0.0625em 0.0625em rgb(255 255 255 / 60%);

    &::before {
      position: absolute;
      inset: 0;
      content: '';
      background-color: var(--background-color);
      background-image: url('noise.png');
      background-size: 80px 80px;
      border-radius: 50%;
      box-shadow: inset 0.0625em 0.0625em 0.0625em var(--light-shadow-color),
        inset -0.0625em -0.0625em 0.0625em var(--dark-shadow-color), 0.125em 0.125em 0.25em #000;
      transition-timing-function: cubic-bezier(0.25, 0.5, 0.5, 1);
      transition-duration: 0.2s;
      transition-property: transform, background-color, box-shadow;
    }

    & svg {
      z-index: 1;
    }
  }

  &:where(:active, .active) div::before {
    background-color: var(--background-color-active);
    box-shadow: inset 0 0 0.25em #000, inset 0.0625em 0.0625em 0.0625em transparent,
      inset -0.0625em -0.0625em 0.0625em transparent, 0.125em 0.125em 0.25em transparent;
    transform: scale(0.98);
  }
}
