.tetradic {
  background-color: var(--tas-la-9);
}

.tetradic .tetradic {
  height: 100%;
}

.tetradic .sample-navbar {
  padding: 2rem;
}

.tetradic-hero {
  display: grid;
  gap: 2rem;
  justify-items: center;
  padding: 6rem 2rem;
  text-align: center;
}

.tetradic-title {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 0.9;
  color: var(--tas-og-1);
  text-transform: uppercase;
  letter-spacing: -0.5px;
}

.tetradic-subtitle {
  max-width: 60ch;
  font-size: 1.25rem;
}

.tetradic-cta {
  display: inline-block;
  width: fit-content;
  padding: var(--button-padding);
  font-weight: 700;
  color: var(--tet-ke-1-c);
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--tet-ke-1);
  border-radius: var(--radius);
}

/* Cards */
.tetradic-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.tetradic-card {
  display: grid;
  gap: 2rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
}

.tetradic-card {
  color: var(--tet-ke-3-c);
  background-color: var(--tet-ke-3);
}

.tetradic-card:first-child {
  color: var(--tet-ke-2-c);
  background-color: var(--tet-ke-2);
}

.tetradic-card:last-child {
  color: var(--tet-ke-4-c);
  background-color: var(--tet-ke-4);
}

.tetradic-card-title {
  font-size: 1.15rem;
  line-height: 1.1;
}

.tetradic-card > svg {
  width: 100%;
  aspect-ratio: 3 / 3.5;
  background-color: rgb(255 255 255 / 50%);
  object-fit: contain;
}

.tetradic-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: inherit;
  text-decoration: none;
}

.tetradic-link svg {
  /* transition: rotate 0.1s; */
}

.tetradic-link:hover svg {
  rotate: -15deg;
  scale: 1.1;
}

.tetradic-card:first-of-type svg {
  --com-og-1: var(--tet-ke-2);
  --com-la-1: var(--tet-la-2);
  --border-2: var(--tet-ci-2);
}

.tetradic-card:nth-last-of-type(2) svg {
  --com-og-1: var(--tet-ke-3);
  --com-la-1: var(--tet-la-3);
  --border-2: var(--tet-ci-3);
}

.tetradic-card:last-of-type svg {
  --com-og-1: var(--tet-ke-4);
  --com-la-1: var(--tet-la-4);
}
