.synth-brand {
  align-items: center;
  padding: var(--box-padding);

  .brand {
    grid-column: 1 / 7;
    font-family: var(--font-brand);
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--element);
    text-transform: uppercase;

    & span {
      font-weight: 700;
    }
  }
}

.vibrancy-module {
  position: relative;
  grid-column: 7 / 13;
  height: 10px;
  padding: 1px;

  /* outline: 1px solid #000; */
  background: linear-gradient(to bottom, #fff, #494949);
  border: 2px solid #000;
  border-radius: 1000px;
  box-shadow: inset 0 -2px 0 5px #0000002a;
}

.vibrancy-module-inner {
  width: 100%;
  height: 100%;
  padding: 1px;
  border-radius: 1000px;
  box-shadow: inset 1px 1px 1px 0.5px #00000049;
}

.vibrancy-module-blur {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 1000px;
  opacity: 0.75;
  filter: blur(5px) brightness(2.5);
}

@container synth (width < 600px) {
  .synth-brand {
    .brand {
      font-size: 3.5cqi;
    }
  }
}
