.vibrancy-module {
  width: 80px;
  height: 20px;
  line-height: 0;
  border-radius: var(--radius);

  &::after {
    background-image: conic-gradient(from 225deg at 49% -3%, #ffff 0%, #fff0 100%);
    opacity: 0.25;
  }
}
