.vibrancy-module {
  width: 5rem;
  height: 1rem;
  line-height: 0;
  background-image: linear-gradient(
    to right in oklab,
    var(--vm-0),
    var(--vm-1),
    var(--vm-2),
    var(--vm-3),
    var(--vm-4),
    var(--vm-5),
    var(--vm-6),
    var(--vm-7),
    var(--vm-8),
    var(--vm-9)
  );
  border-radius: var(--radius);

  &::after {
    background-image: conic-gradient(from 225deg at 49% -3%, #ffff 0%, #fff0 100%);
    opacity: 0.25;
  }
}
