.slider-group {
  display: grid;
  grid-template-columns: subgrid;
  grid-row: 3 / 6;
  grid-column: 1 / 7;
  gap: var(--base-gap);
}

.slider {
  grid-column: 1/ 7;

  label {
    font-size: 12px;
    text-transform: uppercase;
  }

  &:last-child {
    padding-block-end: 3px;
  }

  input[type='range'] {
    width: 100%;
    padding: 0;
    appearance: none;
    cursor: pointer;
    outline: none;
    background: transparent;
    border: none;

    &::-webkit-slider-runnable-track {
      height: 10px;
      border: 1px solid var(--slider-border-color);
      border-radius: 1000px;
      box-shadow: inset 0 2px var(--slider-shadow);
    }

    &::-moz-range-track {
      height: 10px;
      border: 1px solid var(--slider-border-color);
      border-radius: 1000px;
      box-shadow: inset 0 2px var(--slider-shadow);
    }

    /* Thumb: webkit */
    &::-webkit-slider-thumb {
      --shadow-color: var(--slider-shadow-color);

      position: relative;
      width: 18px;
      height: 18px;
      margin-top: -5px;
      appearance: none;
      border-radius: 50%;
    }

    /* Thumb: Firefox */
    &::-moz-range-thumb {
      --shadow-color: var(--slider-shadow-color);

      position: relative;
      width: 18px;
      height: 18px;
      margin-top: -5px;
      appearance: none;
      border-radius: 50%;
    }
  }
}

.slider-inputs {
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  color: var(--white);
  background: var(--black);
  border-radius: 4px;

  button {
    height: 16px;
  }

  input {
    width: 4em;
    padding: 0;
    font-size: 10px;
    color: var(--white);
    text-align: center;
    outline: none;
    background: transparent;
    border: none;
  }
}

@container synth (width < 900px) {
  .slider-group {
    grid-row: 4 / 7;
    grid-column: 1 / 9;
  }

  .slider {
    grid-column: 1 / -1;
  }
}

@container synth (width < 600px) {
  .slider-group {
    grid-row: 3;
    grid-column: 1 / -1;
  }
}
