.color-container {
  background-color: var(--_50);
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 3rem;
}

.colors {
  display: flex;
  gap: 1rem;
  max-width: 100%;
  overflow-x: auto;
}

.color {
  flex: 1;
}

.color-swatch {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin: 1rem auto;
}

.colors p {
  font-size: 15px;

  text-align: center;
}
