.palette-display {
  flex: 1;
}

.palette-name {
  display: flex;
  gap: 0.3em;
  align-items: center;
  justify-content: center;
  height: 32px;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4;
  color: #fff;

  svg {
    flex-shrink: 0;
  }
}

.circle-container {
  width: 130px;
  aspect-ratio: 1/1;
  margin-inline: auto;
}

.palette-type,
.palette-style {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: #cbcbcb;

  /* text-align: center; */
  text-transform: uppercase;
  white-space: nowrap;
}
