.pallete-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: span 2;
    align-content: space-between;
    justify-content: center;
    color: #fff;
}

.palette-info-main {
    font-size: var(--small);
    text-align: left;
    text-transform: uppercase;
}

.palette-info-color-name {
    font-size: 1.5em;
    text-transform: none;
}

.palette-info-meta {
    font-weight: 300;
    opacity: .8;

}

:where(.palette-info-display-support) {
    font-size: 10px;
    color: var(--border);
    text-transform: uppercase;
}

.palette-info-display-support {
    & span {
        font-weight: 700;
    }
    
    & p {
        text-wrap: pretty;
    }
}

.palette-info-colorspace {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: var(--spacing-02);
   font-size: var(--small);

   span {
    display: inline-block;
    padding: var(--spacing-01);
    margin-inline-end: var(--spacing-02);
    text-transform: none;
    text-transform: uppercase;
    border: 1px solid;
    border-radius: 4px;
    opacity: .4;
   }
}

.palette-info-description {
    margin-block-end: 1rem;
    line-height: 1.35;
    text-wrap: pretty;
    opacity: .8;
}

.color-blocks {
    display: grid;
    grid-template-columns: repeat(5, min-content);
    gap: var(--spacing-02);
    margin-block-start: var(--spacing-04);

    .color-block {
        width: 1rem;
        height: 1rem;
        border-radius: var(--radius-small);
    }
}