.pallete-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: subgrid;
  grid-column: span 2;
  place-content: space-between center;
  color: #fff;
}

.palette-info-main {
  text-align: left;
}

.palette-info-name-container {
  margin-block-end: var(--spacing-06);
}

.color-blocks-container {
  margin-block-end: var(--spacing-06);
}

.data-heading {
  justify-content: flex-start;
  font-size: var(--small);
  text-transform: uppercase;

  &.flex {
    justify-content: flex-start;
  }

  svg {
    width: 1em;
    height: 1em;
    color: var(--border);
  }
}

.palette-info-variation {
  &.flex {
    align-items: flex-start;
    justify-content: flex-start;
  }

  margin-block-end: var(--spacing-06);

}

.variation-icons {
  svg {
    width: 20px;
    height: 20px;
    color: var(--border);
  }

  .active {
    color: currentcolor;
  }
}

.color-blocks-name {
  margin-block-end: var(--spacing-02);
  font-size: var(--small);
  text-transform: uppercase;
}

.color-blocks {
  display: flex;
  gap: var(--spacing-02);
  margin-block-start: var(--spacing-02);

  .color-block {
    flex: 1;
    height: 1em;
    border-radius: var(--radius-small);
  }
}

.palette-info-gamut {
  align-items: flex-start;
}

.palette-info-colorspace {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--spacing-02);
  margin-block-start: var(--spacing-06);
  font-size: var(--small);
  opacity: 0.8;

  span {
    margin-inline-end: 0.25em;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 1;
  }
}

.color-border {
  height: 0.5rem;
  margin-block: var(--spacing-06);
}

.two-column {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-block: var(--spacing-06);
}
