.app {
  display: grid;
  gap: 2rem;
  max-width: var(--max-viewport);
  margin-inline: auto;
}

@media (min-width: 1200px) {
  .app {
    grid-template-columns: 1fr 2fr;
  }
}

.left,
.right {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  gap: var(--space-after);
  overflow: hidden;
}

.right > section {
  flex-grow: 1;
}

.footer {
  padding: var(--box-padding);
  color: var(--element-1);
  font-size: var(--small);
  text-align: center;
  text-transform: uppercase;
}
