main {
  display: grid;
  place-items: center;
  min-height: 100svh;
  padding: 1.5vw;
  background-image: var(--bg);
}

.synth-container {
  display: grid;
  grid-template-rows: min-content auto auto;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--synth-body);
  border-radius: var(--radius);
  box-shadow: 0 -1px 2px -0.5px #9194a3 inset, 2px 0 2px -0.5px #eaeaf2 inset, 0 1px 1px #eaeaf2 inset,
    0 25px 20px -15px rgb(0 0 0 / 10%), 10px 65px 50px -10px rgb(0 0 0 / 5%);
}

[data-mode='dark'] .synth-container {
  box-shadow: 0 -1px 2px -0.5px hsl(230deg 9% 30%) inset, 2px 0 2px -0.5px hsl(240deg 24% 53%) inset,
    0 1px 1px hsl(240deg 24% 53%) inset, 0 25px 20px -15px rgb(0 0 0 / 10%), 10px 65px 50px -10px rgb(0 0 0 / 5%);
}

.synth-brand {
  display: flex;
  grid-column: 1 / -1;
  align-items: center;
  justify-content: space-between;
  padding: var(--box-padding);

  & h1 {
    font-family: var(--font-brand);
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--element);
    text-transform: uppercase;

    & span {
      font-weight: 700;
    }
  }
}

.synth-display {
  display: grid;
  grid-column: 1 / -1;
}

.synth-left {
  display: grid;
  grid-auto-rows: min-content;
  gap: var(--spacing-08);
  align-content: space-between;

  /* max-width: 31.25rem; */
}

.color-input-display {
  flex: 1;

  & > :first-child {
    margin-block-end: var(--spacing-06);
  }
}

.synth-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-08);
  width: 100%;

  div:first-child {
    grid-column: 1 / span 1
  }
  
}

.box {
  width: 2rem;
  height: 2rem;
}
