button {
  font-family: inherit;
  font-size: inherit;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  cursor: pointer;
  background: none;
  border: none;
  border-radius: var(--radius);
  padding: var(--button-padding);
}

button:hover,
button:focus {
  outline: none;
  border: none;
}

/* Icon only */
.icon-btn {
  height: 1rem;
  width: 1rem;
  padding: 0.5em;
  box-sizing: content-box;
  border-radius: 50%;
  transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.icon-btn:hover,
.icon-btn:focus-visible {
  background-color: var(--mono-9);
}

.icon-btn:active {
  background-color: var(--mono-8);
}

/* Text only */
.text-btn {
  font-size: var(--small);
  transition: background-color 0.3s;
}

.text-btn:hover,
.text-btn:focus-visible {
  background-color: var(--mono-9);
  color: var(--mono-9-contrast);
}

/* Text and Icon */
.text-icon-btn {
  font-size: var(--small);
  display: flex;
  align-items: center;
  gap: 1em;
}
