.color-selector {
  padding: var(--box-padding);
  background-color: var(--surface-3);
  border-radius: var(--radius);
}

.color-input-container .react-colorful {
  width: 100%;
  aspect-ratio: 3 / 4;
}

.color-input .react-colorful__saturation,
.color-input .react-colorful__last-control {
  border-radius: 0;
}

.color-input input {
  /* flex-shrink: 0; */
  padding: var(--button-padding);
  font-family: inherit;
  font-size: 1rem;
  color: var(--element-3);
  text-align: center;
  background-color: var(--surface-2);
  border: none;
  border: 1px solid var(--border-1);
}

.color-input input:focus-visible {
  border: 1px solid var(--border-2);
  outline: 0;
}

.color-input input::before {
  content: "#";
}

.color-input-container {
  width: 100%;
  margin-block-end: var(--space-after);
}

.color-input-container > *:first-child {
  /* flex: 50%; */
}

.color-selector-text-input-label {
  margin-inline-end: 1rem;
  font-size: var(--small);
  text-transform: uppercase;
}

.color-input-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block-end: var(--space-after);
}

.color-input-text > div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.color-input-text > div input {
  flex: 1;
  font-size: min(1rem, 16px);
  text-align: center;
  border-radius: var(--radius);
  color: var(--element-3);
}

.previous {
  display: flex;
  flex: 1;
  gap: 1rem;
  justify-content: space-between;
}

.previous .text-icon-btn {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.color-history {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.color-history svg {
  width: 1.25rem;
  height: 1.25rem;
  color: var(--ton-og-4);
}

.color-history div {
  flex: 1;
  width: 1.5rem;
  height: 1.5rem;
  background: var(--ton-og-8);
  border-radius: var(--radius);
}

.color-history div:last-of-type {
  opacity: 0.25;
}

.color-history div:nth-of-type(4) {
  opacity: 0.35;
}

.color-history div:nth-of-type(3) {
  opacity: 0.45;
}

.color-history div:nth-of-type(2) {
  opacity: 0.55;
}
