.colors {
  display: grid;
}

.colors-2 {
  grid-template-columns: repeat(2, 1fr);
}

.colors-3 {
  grid-template-columns: repeat(3, 1fr);
}

.colors-4 {
  grid-template-columns: repeat(4, 1fr);
}

.colors-10 {
  grid-template-columns: repeat(5, 1fr);
}

.colors article {
  flex: 1;
}

.color-swatch {
  height: 8rem;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1rem;
  font-size: var(--small);
  font-weight: 600;
  line-height: 1.2;
  text-align: right;
}

.color-swatch p {
}
