.color-selector {
  padding: 2rem 0 2rem 2rem;
  background-color: var(--mono-9);
  position: relative;
  overflow: hidden;
  border: 1px solid var(--border-color);
}

.color-input,
.color-details {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.color-input input {
  border: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  flex-shrink: 0;
}

.color-input ::-webkit-color-swatch-wrapper {
  padding: 0;
}

.color-input ::-webkit-color-swatch {
  border: none;
}

.color-input p {
  font-weight: 700;
  font-size: 1.2rem;
  font-family: Archivo, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  flex-shrink: 0;
}

.color-details {
  margin-block-start: 2rem;
  justify-content: space-between;
  padding-inline-end: 1.5rem;
}

.color-details p {
  font-size: 15px;
  font-weight: 600;
}

.gradients {
  display: flex;
  gap: 3px;
  flex-direction: column;
  width: 100%;
  opacity: 0.5;
}

.gradient {
  height: 2px;
  background-image: linear-gradient(to right, transparent, var(--shades-5));
  width: 100%;
}
