.comp-navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  font-size: var(--small);
}

.comp-navbar ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

.comp-header {
  padding: 1.5rem 1rem;
  text-align: center;
}

.comp-header h2 {
  margin-block-end: 1rem;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1;
  color: var(--com-og-1);
  text-shadow: 0.15em 0.15em 0 var(--com-og-2);
  letter-spacing: -2px;
}

.comp-cta {
  display: inline-block;
  padding: 0.5em 1em;
  margin-block: 1rem 0.5em;
  font-weight: 700;
  color: var(--com-og-1-c);
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--com-og-1);
  transition: box-shadow 0.2s;
}

.comp-cta:hover {
  box-shadow: 0.35em 0.35em 0 var(--com-og-2);
}

.comp-featured-inner {
  display: grid;
  grid-template-columns: repeat(3, minmax(25rem, 30rem));
  gap: 2rem;
  padding: 2rem 1rem;
}

.comp-featured-image {
  display: block;
  height: auto;
  aspect-ratio: 16/9;
}

.comp-featured-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
