.controls {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.controls-variations {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.controls-variations .text-btn {
  font-weight: 700;
  color: var(--ton-og-1);
  background: linear-gradient(45deg, var(--ton-og-9), var(--tas-og-10));
  outline: 1px solid var(--ton-og-9);
  transition: outline 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.controls-variations .text-btn:hover,
.controls-properties button:hover {
  outline: 1px solid var(--ton-og-7);
}

.controls-variations .text-btn.active,
.controls-properties button.active {
  outline: 1px solid var(--ton-og-5);
}

.controls-variation {
  font-size: var(--small);
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
}

.controls-properties {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.controls-properties button {
  color: var(--ton-og-1);
  background: linear-gradient(45deg, var(--ton-og-9), var(--tas-og-10));
  outline: 1px solid var(--ton-og-9);
  transition: outline 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
