.controls {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.controls-buttons {
  display: flex;
  gap: 0.5rem;
}

.palette-name {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  font-size: var(--small);
}
