.ctc {
  font-family: inherit;
  font-size: var(--small);
  font-weight: 700;
  color: inherit;
  text-align: right;
  cursor: pointer;
  background: none;
  border: none;
  text-transform: none;
  padding: 0;
  letter-spacing: -0.3px;
}
