html {
  font-family: Arimo, Helvetica, 'Helvetica Neue', sans-serif;
  font-size: 1rem;

  --webkit-font-smoothing: antialiased;
}

body {
  color: var(--element);
  background-color: var(--surface-2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: Arimo, Helvetica, 'Helvetica Neue', sans-serif;
  line-height: 1.3;
}

button {
  font-family: inherit;
  color: inherit;
}
