.header {
  padding-block: 2rem 4rem;
}

.header h1 {
  font-size: 3.488rem;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.15em;
  background-image: linear-gradient(to bottom, var(--mono-9), var(--mono-8));
  filter: drop-shadow(0 2px 1px var(--shades-3));
  background-clip: text;
  -webkit-text-fill-color: transparent;

  /* -webkit-text-stroke: 1px black; */
}
