:root {
  --gap: max(1.5rem, 3vh);
  --radius: 4px;

  --small: 0.83rem;
  --x-small: min(0.75rem, 14px);

  --radius: 4px;
  --button-padding: 2px 4px;

  --border-color: var(--mono-7);
  --box-padding: 0.5rem 1rem;
}

html {
  font-size: 1rem;
  font-size: clamp(1rem, 0.975rem + 0.125vw, 1.125rem);
  font-family: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  line-height: 1.6;
  font-weight: 400;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--mono-10);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 800;
  line-height: 1.1;
  text-transform: uppercase;
}

h1 {
  font-size: 2.488rem;
}

h2 {
  font-size: 2.074rem;
}

h3 {
  font-size: 1.728rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.2rem;
}

small,
.text_small {
  font-size: 0.833rem;
}

button:not(.ctc) {
  font-family: inherit;
  font-size: var(--small);
  text-transform: uppercase;
  border: 1px solid var(--border-color);
  border-radius: 0;
  background: none;
  padding: 3px 6px;
  cursor: pointer;
  letter-spacing: 1.2px;
  color: var(--shades-3);
  transition: background-color 0.3s, color 0.3s;
}

button:not(.ctc):hover {
  background-color: var(--shades-7);
  color: var(--shades-7-contrast);
}

button:not(.ctc).active {
  background-color: var(--shades-5);
  color: var(--shades-5-contrast);
}
