.navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  color: var(--complement-1-contrast);
  background-color: var(--complement-1);
  border-left: 0.5rem solid var(--complement-2);
}

.navbar .left h1 {
  font-size: 1rem;
}

.navbar .left button {
  color: var(--complement-1-contrast);
  border: none;
}

.navbar .left,
.navbar .right {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.navbar ~ .app {
  margin-top: 4rem;
}

.navbar .right button {
  color: var(--complement-1-contrast);
  border-color: currentcolor;
}

.navbar .right button:hover {
  /* color: var(--complement-1-contrast); */
  border-color: currentcolor;
}
