.navbar {
  width: 100%;
  padding: 1rem;
  color: var(--shades-4-contrast);
  background-color: var(--shades-4);
  margin-block-end: 2rem;
}

.navbar-inner {
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .left h1 {
  font-size: 1rem;
}

.navbar .left button {
  border: none;
  color: inherit;
  opacity: 0.9;
}

.navbar .left,
.navbar .right {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.navbar .right button {
  color: var(--shades-7-contrast);
  background-color: var(--shades-7);
  border: none;
  border-radius: 4px;
  padding: 0.5em 0.75em;
}

.navbar .right button:hover {
  /* color: var(--complement-1-contrast); */
  border-color: currentcolor;
}
