.navbar {
  padding: var(--box-padding);
  margin-block-end: var(--space-after);
  color: var(--shades-4-contrast);
  background-color: var(--shades-4);
}

.navbar-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--max-viewport);
  margin-inline: auto;
}

.navbar .left,
.navbar .right {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.navbar .left h1 {
  font-size: 1.15rem;
}

.navbar .left .text-btn {
  color: inherit;
}

.navbar .left .text-btn:hover {
  color: var(--shades-7-contrast);
  background-color: var(--shades-7);
}

.navbar .right button {
  padding: 0.5em 0.75em;
  color: var(--shades-7-contrast);
  background-color: var(--shades-7);
  border: none;
  border-radius: 4px;
}

.navbar .right button:hover {
  /* color: var(--complement-1-contrast); */
  border-color: currentcolor;
}
