.options {
  padding: 1rem;
  background-color: var(--mono-9);
}

.options-button-group {
  display: flex;
  margin-block-start: 1rem;
}

.options-button-group button {
  flex: 1;
}

.options-button-group button:not(:last-child) {
  border-right: none;
}
