.palette-container {
  /* margin-block-start: 3rem; */
}

.palette {
  border: 1px solid var(--border-color);

  overflow: hidden;
}

.palette-container header {
  display: flex;
  align-items: center;
  margin-block-end: 0.5rem;
}

.palette-container h2 {
  margin: 0;
  translate: -1rem;
  line-height: 1;
}
