.palette-selector {
  /* border: 1px solid var(--border-color); */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--mono-9);
}

.palette-selector-header {
  display: flex;
  grid-column: span 2;
  gap: 1rem;
  align-items: center;
}

.palette-selector-header > h2 {
  flex-shrink: 0;

  /* font-size: 3rem; */
}

.palette-selector-card {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 1rem;
}

.palette-selector > .palette-selector-card:hover,
.palette-selector > .palette-selector-card.active {
  color: var(--mono-10-contrast);
  background: var(--mono-10);
  border-color: var(--complement-1);
}
