.palette-container {
  /* margin-block-start: 3rem; */
  padding: 1rem;
  background-color: var(--mono-9);
}

.palette {
  overflow: hidden;
  border: 1px solid var(--border-color);
}

.palette-container header {
  display: flex;
  align-items: center;
  margin-block-end: 0.5rem;
}

.palette-container h2 {
  margin: 0;
  translate: -1rem;
  line-height: 1;
  white-space: nowrap;
}
