.palette-selector {
  padding: var(--box-padding);
  background-color: var(--mono-10);
  border-radius: var(--radius);
}

.palette-selector-container {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.palette-selector-card {
  position: relative;
  z-index: 2;
  display: flex;
  flex: 1;
  gap: 0.3em;
  align-items: center;
  font-size: var(--small);
  color: var(--mono-9-contrast);
  text-align: left;
  background-image: linear-gradient(25deg, var(--mono-9), var(--shades-10));
  border-radius: var(--radius);
  outline: 1px solid var(--mono-9);
  transition: outline 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.palette-selector-card:hover {
  outline: 1px solid var(--mono-7);
}

.palette-selector-card.active {
  --alpha: 0.5;

  z-index: 3;
  outline: 1px solid var(--mono-5);
}
