.panel {
  padding: var(--box-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  gap: 1rem;
}

.panel-left {
  display: flex;
  gap: 0.5rem;
  height: 100%;
}

.selected-group {
  display: flex;
  align-items: center;
}

.selected-group button:not(:last-child) {
  border-right: none;
}
