.panel {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid var(--_100);
  border-right: 1px solid var(--_100);
  border-bottom: 1px solid var(--_100);
  box-sizing: content-box;
}

.panel-controls {
  display: flex;
  gap: 1rem;
}

.y-selector {
  display: flex;
  gap: 5px;
  align-items: baseline;
}

.y-selector input {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: transparent;
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 1px solid currentColor;
  border-radius: var(--radius);
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

.y-selector input::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;

  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

.y-selector input:checked::before {
  transform: scale(1);
}

.y-selector input:focus-visible {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

.panel-color-name {
  font-weight: 900;
  text-transform: uppercase;
  white-space: nowrap;

  line-height: 1;
  background: -webkit-linear-gradient(
    hsl(var(--h) 35% 45% / 0.85),
    hsl(var(--h) 35% 45% / 0.25)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
