.panel {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: var(--box-padding);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

.panel-left {
  display: flex;
  gap: 0.5rem;
  height: 100%;
}

.selected-group {
  display: flex;
  align-items: center;
}

.selected-group button:not(:last-child) {
  border-right: none;
}

.panel-divider {
  width: 1px;
  background-color: var(--border-color);
  margin-inline: 0.15em;
}
