*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input,
textarea {
  padding: var(--button-padding);
  font-family: inherit;
  font-size: inherit;
  line-height: 1;
  background-color: var(--mono-10);
  border: 1px solid var(--mono-8);
}
