*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input,
textarea {
  padding: var(--button-padding);
  font-family: inherit;
  font-size: inherit;
  line-height: 1;
  background-color: var(--ton-og-10);
  border: 1px solid var(--ton-og-8);
  color: inherit;
}
