.sample-selector {
  display: flex;
  width: 100%;
}

.sample-selector > button {
  flex: 1;
}

.sample-selector button:not(:last-child) {
  border-right: none;
}

.sample-container {
  border: 1px solid var(--border-color);
  border-top: none;
}
