.sample-selector {
  display: flex;
}
.sample-selector button {
  flex: 1;
}
.sample-selector button:not(:last-child) {
  border-right: none;
}

.sample {
  background-color: var(--mono-9);

  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
.sample-navbar {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sample-navbar p {
  font-weight: 500;
}

.sample-navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  font-size: var(--small);
}

.sample-navbar a {
  color: inherit;
  text-decoration: none;
}

.sample-header {
  padding: 3rem 1rem;
  text-align: center;
}

.sample-header > *:not(:last-child) {
  margin-bottom: 1rem;
}

.sample-cta {
  color: inherit;
  text-decoration: none;
  border-radius: 1em;
  padding: var(--box-padding);
  margin-block-start: 1rem;
  display: block;
  width: fit-content;
  margin-inline: auto;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2px;
  font-size: 16px;
}

.sample h3 {
  font-size: 1.2rem;
  text-transform: none;
}

.sample h3 a {
  color: inherit;
  text-decoration: none;
}

.sample-body {
  padding: 1rem;
  margin-bottom: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.sample-image {
  width: 100%;
  aspect-ratio: 1;
  margin-block-end: 0.5rem;
}

.sample-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  display: block;
  mix-blend-mode: luminosity;
}

.sample-listings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: var(--box-padding);
}

.card {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-block-end: 1rem;
}

.card-image {
  width: 3rem;
  height: 3rem;
  flex-shrink: 0;
}

.card h3 {
  margin: 0;
}

.complement :where(.sample-header, .card-image) {
  background-color: var(--complement-1);
  color: var(--complement-1-contrast);
}

.corrected .complement :where(.sample-header, .card-image) {
  background-color: var(--complement-1-corrected);
  color: var(--complement-1-contrast-corrected);
}

.complement .sample-cta {
  background-color: var(--complement-2);
  color: var(--complement-2-contrast);
}

.corrected .complement .sample-cta {
  background-color: var(--complement-2-corrected);
  color: var(--complement-2-contrast-corrected);
}

.complement .sample-image {
  background-color: var(--complement-2);
}

.corrected .complement .sample-image {
  background-color: var(--complement-2-corrected);
}

.adjacent :where(.sample-header, .card-image) {
  background-color: var(--adjacent-2);
  color: var(--adjacent-2-contrast);
}

.corrected .adjacent :where(.sample-header, .card-image) {
  background-color: var(--adjacent-2-corrected);
  color: var(--adjacent-2-contrast-corrected);
}

.adjacent .sample-cta {
  background-color: var(--adjacent-1);
  color: var(--adjacent-1-contrast);
}

.corrected .adjacent .sample-cta {
  background-color: var(--adjacent-1-corrected);
  color: var(--adjacent-1-contrast-corrected);
}

.adjacent .sample-image {
  background-color: var(--adjacent-3);
}

.corrected .adjacent .sample-image {
  background-color: var(--adjacent-3-corrected);
}

.split :where(.sample-header, .card-image) {
  background-color: var(--split-2);
  color: var(--split-2-contrast);
}

.corrected .split :where(.sample-header, .card-image) {
  background-color: var(--split-2-corrected);
  color: var(--split-2-contrast-corrected);
}

.split .sample-cta {
  background-color: var(--split-1);
  color: var(--split-1-contrast);
}

.corrected .split .sample-cta {
  background-color: var(--split-1-corrected);
  color: var(--split-1-contrast-corrected);
}

.split .sample-image {
  background-color: var(--split-3);
}

.corrected .split .sample-image {
  background-color: var(--split-3-corrected);
}

.triad :where(.sample-header, .card-image) {
  background-color: var(--triad-2);
  color: var(--triad-2-contrast);
}

.correctted .triad :where(.sample-header, .card-image) {
  background-color: var(--triad-2-corrected);
  color: var(--triad-2-contrast-corrected);
}

.triad .sample-cta {
  background-color: var(--triad-1);
  color: var(--triad-1-contrast);
}

.corrected .triad .sample-cta {
  background-color: var(--triad-1-corrected);
  color: var(--triad-1-contrast-corrected);
}

.triad .sample-image {
  background-color: var(--triad-3);
}

.corrected .triad .sample-image {
  background-color: var(--triad-3-corrected);
}

.tetrad .sample-header {
  background-color: var(--tetrad-2);
  color: var(--tetrad-2-contrast);
}

.corrected .tetrad .sample-header {
  background-color: var(--tetrad-2-corrected);
  color: var(--tetrad-2-contrast-corrected);
}

.tetrad .sample-cta {
  background-color: var(--tetrad-1);
  color: var(--tetrad-1-contrast);
}

.corrected .tetrad .sample-cta {
  background-color: var(--tetrad-1-corrected);
  color: var(--tetrad-1-contrast-corrected);
}

.tetrad .sample-image {
  background-color: var(--tetrad-3);
}

.corrected .tetrad .sample-image {
  background-color: var(--tetrad-3-corrected);
}

.tetrad .card-image {
  background-color: var(--tetrad-4);
}

.corrected .tetrad .card-image {
  background-color: var(--tetrad-4-corrected);
}

.tints :where(.sample-header, .card-image) {
  background-color: var(--shades-2);
  color: var(--shades-2-contrast);
}

.tints .sample-cta {
  background-color: var(--shades-5);
  color: var(--shades-5-contrast);
}

.tints .sample-image {
  background-color: var(--shades-8);
}

.mono :where(.sample-header, .card-image) {
  background-color: var(--mono-3);
  color: var(--mono-3-contrast);
}

.mono .sample-cta {
  background-color: var(--mono-6);
  color: var(--mono-6-contrast);
}
.mono .sample-image {
  background-color: var(--mono-7);
}
