.sample-container.tintsandshades {
  background-color: var(--surface-3);
}

.tintsandshades .sample-navbar {
  padding: 2rem;
}

.shades-hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  max-width: 80%;
  padding-block: 5rem;
  margin-inline: auto;
}

.shades-title {
  z-index: 1;
  font-size: 5.25rem;
  font-weight: 900;
  line-height: 0.8;
  color: var(--tas-og-2);
  text-align: right;
  text-transform: uppercase;
  letter-spacing: -0.3px;
  translate: 10%;
}

.shades-shape {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;

  /* aspect-ratio: 3 / 4; */

  background-color: var(--tas-og-8);

  box-shadow: var(shadow-md);
  transform: rotateY(45deg) translate3d(-15%, 0, -25px) rotateX(45deg);
  perspective: 5000px;
  transform-style: preserve-3d;
  border-radius: 1rem;
}

.shades-shape::after {
  inset: 0;
  position: absolute;
  content: "";
  border-radius: 1rem;

  transform: translate3d(25px, -25px, 35px);
  background-color: hsl(var(--tas-og-5-raw) / 10%);
}

.shades-shape::before {
  inset: 0;
  position: absolute;
  content: "";
  border-radius: 1rem;

  transform: translate3d(15px, -15px, 15px);

  background-color: hsl(var(--tas-og-3-raw) / 10%);
}

.shades-subtitle {
  margin-block-start: 3px;
  font-size: var(--small);
  font-weight: 300;
  text-align: right;
}

.shades-cta {
  padding: 5rem 1rem;
  color: var(--tas-og-2-c);
  text-align: center;
  background-color: var(--tas-og-2);
}

.shades-cta p:first-child {
  font-size: 2rem;
}

.shades-cta a {
  display: inline-block;
  padding: 1rem 2rem;
  margin-block: 2rem 0.5rem;
  font-weight: 700;
  color: var(--tas-og-5-c);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  background-color: var(--tas-og-5);
  border-radius: 3em;
}

.shades-cta p:last-child {
  font-size: var(--small);
  font-weight: 300;
  opacity: 0.8;
}

/* Cards */
.shades-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 6rem 2rem 4rem;
}

.shades-card img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.shades-card-body {
  padding: 1rem;
}

.shades-card-title {
  margin-block-end: 0.5rem;
  font-size: 1.15rem;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.shades-card-excerpt {
  font-size: var(--small);
}

.shades-card-url {
  display: inline-flex;
  gap: 2px;
  align-items: center;
  margin: 1rem 0 0 auto;
  color: var(--tas-og-2);
  text-decoration: none;
}
