/* Specs */
.specs-overlay {
  display: none;
  height: 100%;
}

.specs-overlay::after {
  position: absolute;
  inset: 0;
  content: "";
  background-color: rgba(var(--ton-og-10-raw) / 20%);
  backdrop-filter: blur(2px);
  z-index: 10;
}

.specs-overlay.show {
  display: block;
}

.spec {
  position: absolute;
  z-index: 11;
  max-width: 400px;
  padding: 1rem;
  /* margin: 1rem; */
  font-size: var(--small);
  line-height: 1;
  background-color: var(--surface-3);
  border-radius: var(--radius);
  filter: drop-shadow(5px 5px 1rem rgb(0 0 0 / 15%));
  translate: 0 -0.8rem;
}

.spec::before {
  top: 0.8rem;
  left: -20px;
  position: absolute;

  content: "";

  border-width: 10px;
  border-color: transparent var(--surface-3) transparent transparent;
  border-style: solid;
}

.spec > p {
  text-transform: uppercase;
  margin-block-end: 0.5rem;
}

.spec > div {
  display: flex;
  align-items: center;
  font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

.specs-overlay > button {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: absolute;
  margin: 1rem;
  z-index: 11;
  right: 0;
}

.spec .prop {
  color: var(--spl-ke-1);
}

.spec .value {
  color: var(--spl-ke-2);
}

:root[data-mode="dark"] .spec .prop {
  color: var(--spl-ci-2);
}

:root[data-mode="dark"] .spec .value {
  color: var(--spl-ci-3);
}

.spec-decorator {
  height: 2rem;
  width: 2rem;
  margin-inline-end: 1rem;
  display: inline-block;
  flex-shrink: 0;
  border-radius: 50%;
  outline: 2px dotted var(--border-1);
  outline-offset: 2px;
}

.spec-decorator.circle {
  border-radius: 50%;
}
