:root {
  --toastify-color-light: var(--surface-3);
  --toastify-color-dark: var(--surface-3);
  --toastify-text-color-light: var(--element-1);
  --toastify-text-color-dark: var(--element-1);
  --toastify-spinner-color: var(--element-2);
}

/* stylelint-disable-next-line selector-class-pattern */
.Toastify__toast-container {
  border-radius: var(--radius);
}
