:root {
  --gap: max(1.5rem, 3vh);
  --radius: 0.5em;
  --small: 0.833rem;
  --x-small: min(0.75rem, 14px);
  --button-padding: 0.4em 0.8em;
  --border-color: var(--mono-7);
  --box-padding: 1rem;
  --space-after: 2rem;
  --max-viewport: 65rem;
  --letter-spacing: 0.3px;
}
