:root {
  --spacing-01: 0.125rem;
  --spacing-02: 0.25rem;
  --spacing-03: 0.5rem;
  --spacing-04: 0.75rem;
  --spacing-05: 1rem;
  --spacing-06: 1.5rem;
  --spacing-07: 2rem;
  --spacing-08: 2.5rem;
  --spacing-09: 3rem;
  --spacing-10: 4rem;
  --spacing-11: 5rem;
  --spacing-12: 6rem;
  --spacing-13: 10rem;
  --gap: var(--spacing-06);
  --radius: 12px;
  --radius-sm: 2px;
  --small: 0.833rem;
  --x-small: min(0.75rem, 12px);
  --button-padding: 0.4em 0.8em;
  --box-padding: 1rem;
  --space-after: 2rem;
  --max-viewport: 65rem;
  --letter-spacing: 0.3px;
  --shadow-md: 0.3px 0.5px 0.7px var(--shadow-color), 0.8px 1.6px 2px -0.8px var(--shadow-color),
    2.1px 4.1px 5.2px -1.7px var(--shadow-color), 5px 10px 12.6px -2.5px var(--shadow-color);
  --shadow-sm: 0.3px 0.5px 0.7px var(--shadow-color), 0.4px 0.8px 1px -1.2px var(--shadow-color),
    1px 2px 2.5px -2.5px var(--shadow-color);
  --font-brand: 'Orbitron', system-ui, sans-serif;
  --border-color: hsl(0deg 0% 50% / 45%);
  --element: hsl(248deg 11% 15%);
  --element-dim: hsl(248deg 11% 10%);
  --border: hsl(248deg 11% 65% / 75%);
  --dimmed: #333;
  --success: oklch(100% 0.4 150deg);
  --error: oklch(100% 0.4 21deg);
  --warning: rgb(255 165 0);
  --synth-body: linear-gradient(to bottom, #e3e0dc, #afaeac);
  --bg: #f8f8f8;
  --icon-element: linear-gradient(to bottom, hsl(0deg 0% 5%), #e3e0dc, hsl(0deg 0% 5%));
  --base-gap: 20px;
  --shadow-color: 0 2% 32%;
  --shadow-elevation-high: 0px 0.5px 0.6px hsl(var(--shadow-color) / 34%),
    0px 2.9px 3.3px -0.4px hsl(var(--shadow-color) / 34%), 0px 5.5px 6.2px -0.7px hsl(var(--shadow-color) / 34%),
    -0.1px 9px 10.1px -1.1px hsl(var(--shadow-color) / 34%), -0.1px 14.4px 16.2px -1.4px hsl(var(--shadow-color) / 34%),
    -0.2px 22.5px 25.3px -1.8px hsl(var(--shadow-color) / 34%),
    -0.2px 34.2px 38.5px -2.1px hsl(var(--shadow-color) / 34%),
    -0.4px 50.4px 56.7px -2.5px hsl(var(--shadow-color) / 34%);
}

[data-mode='dark'] {
  --synth-body: hsl(248deg 11% 15%);
  --element: hsl(248deg 11% 85%);
  --element-dim: hsl(248deg 11% 70%);
  --border: hsl(248deg 11% 35%);
  --bg: linear-gradient(to bottom in oklab, hsl(248deg 11% 25%), hsl(248deg 11% 5%));
  --button-background: linear-gradient(to bottom, hsl(248deg 11% 15%), hsl(248deg 11% 15%));
  --shadow-color: 0 2% 5%;
  --shadow-elevation-high: 0px 0.5px 0.6px hsl(var(--shadow-color) / 34%),
    0px 2.9px 3.3px -0.4px hsl(var(--shadow-color) / 34%), 0px 5.5px 6.2px -0.7px hsl(var(--shadow-color) / 34%),
    -0.1px 9px 10.1px -1.1px hsl(var(--shadow-color) / 34%), -0.1px 14.4px 16.2px -1.4px hsl(var(--shadow-color) / 34%),
    -0.2px 22.5px 25.3px -1.8px hsl(var(--shadow-color) / 34%),
    -0.2px 34.2px 38.5px -2.1px hsl(var(--shadow-color) / 34%),
    -0.4px 50.4px 56.7px -2.5px hsl(var(--shadow-color) / 34%);
}
