.triad-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.triad-container .sample-navbar {
  position: absolute;
  width: 100%;
  padding: 1rem;
}

.triad-container .sample-navbar button {
  border-color: var(--border-3);
}

.triad-hero {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-bottom: 1px solid var(--border-3);
}

.triad-basketball {
  position: absolute;
  top: -1.5rem;
  left: 14rem;
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  cursor: grab;
  background-image: linear-gradient(var(--tri-la-1), var(--tri-la-2));
  border: 1px solid var(--border-3);
  border-radius: 50%;
  box-shadow: var(--shadow-md);
  transition: translate 2s;

  /* --shadow-color: hsl(var(--ton-og-1-raw) / 42%); */
}

.triad-basketball:hover {
  translate: 0 100%;
}

.triad-hero-left {
  padding: var(--box-padding);
  padding: 10rem 1rem 8rem;
  border-right: 1px solid var(--border-3);
}

.triad-title {
  position: relative;
}

.triad-title p:first-child {
  font-size: 1.5rem;
  line-height: 1;
  color: var(--ton-og-1);
  text-transform: uppercase;
  letter-spacing: -0.3px;
}

.triad-title p:nth-child(2) {
  font-size: 5rem;
  font-weight: 900;
  line-height: 0.8;
  color: var(--ton-og-2);
  text-transform: uppercase;
  letter-spacing: -0.3px;
}

.triad-hero-right {
  display: flex;
  flex-direction: column;
  background-color: hsl(var(--tri-og-3-raw) / 10%);
}

.triad-top {
  padding: 3rem 1rem;
  border-bottom: 1px solid var(--border-3);
}

.triad-bottom {
  display: flex;
  align-items: flex-end;
  height: 100%;
  padding: 1rem;
}

.triad-catchline {
  padding: 2rem 3rem;
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid var(--border-3);
}

.triad-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: center;
  padding: 2rem 3rem;
}

.triad-card {
  border: 1px solid var(--border-3);
}

.triad-card header {
  padding: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: hsl(var(--tri-og-1-raw) / 10%);
  border-bottom: 1px solid var(--border-3);
}

.triad-card p {
  padding: 1rem;
  border-bottom: 1px solid var(--border-3);
}

.triad-card a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: var(--ton-og-3);
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
}

.triad-footer {
  display: grid;
  flex: 1;
  place-items: center;
  padding: 3rem;
  font-size: 2rem;
  background-color: hsl(var(--tri-og-2-raw) / 10%);
  border-top: 1px solid var(--border-3);
}

.triad-footer > p {
  max-width: 40ch;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -1px;
}

.triad-footer > p::before {
  content: open-quote;
}

.triad-footer > p::after {
  content: close-quote;
}
