.control-group {
  &:not(:last-of-type) {
    margin-block-end: var(--spacing-06);
  }

  & h2 {
    margin-block-end: var(--spacing-03);
    font-size: var(--small);
    font-weight: normal;
    color: var(--element);
  }

  & .button-container {
    flex: 1;
  }
}

.control-group-container {
  display: flex;
  gap: var(--spacing-03);
  justify-content: space-between;
}

@media (max-width: 768px) {
  .control-group-container {
    gap: var(--spacing-02);
  }
}
