.color-selector {
  padding: var(--box-padding);
  background-color: var(--surface-3);
  border-radius: var(--radius);
}

.color-input-container .react-colorful {
  width: 100%;
  aspect-ratio: 3 / 4;
}

/* stylelint-disable-next-line selector-class-pattern */
.color-input .react-colorful__saturation,
.color-input .react-colorful__last-control {
  border-radius: 0;
}

.color-input input {
  /* flex-shrink: 0; */
  padding: var(--button-padding);
  font-family: inherit;
  font-size: 1rem;
  color: var(--element-3);
  text-align: center;
  background-color: var(--surface-2);
  border: none;
  border: 1px solid var(--border-1);
}

.color-input input:focus-visible {
  border: 1px solid var(--border-2);
  outline: 0;
}

.color-input input::before {
  content: "#";
}

.color-input-container {
  width: 100%;
  margin-block-end: var(--space-after);
}
