.color-history {
  display: flex;
  gap: var(--spacing-02);
  align-items: center;
  justify-content: space-between;
  padding-block: var(--spacing-06);

  & p {
    font-size: var(--x-small);
    text-transform: uppercase;
    letter-spacing: -0.5px;
    opacity: 0.5;
  }
}

.color-history-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  padding: var(--spacing-01);
  background-color: #393939;
  border-radius: 50%;

  &:disabled {
    cursor: initial;
  }
}

.color-history-swatch {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #f0f0f0;
  border-radius: 50%;
  box-shadow: inset -1px -1px 2px rgb(0 0 0 / 15.5%), inset 1px 1px 2px #ffffffb4, 1px 1px 4px rgb( 0 0 0 / 15%);
}
