.display {
    padding: var(--spacing-02);
    background-color: #000;
    border-radius: var(--radius);

    &::after {
        pointer-events: none;
        background: conic-gradient(from 240deg at 62% 0%, rgb(255 255 255 / 5%), rgb(0 0 0 / 0%));
    }
}   

.display-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--inner-spacing);
    background-color: #111;
    border-radius: var(--radius)
}