.palette-display-container {
  display: grid;
  flex: 1;
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: var(--spacing-04);
  height: 100%;
}

.palette-display {
  display: flex;
  gap: var(--spacing-04);
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
  padding: var(--button-padding);
  font-size: var(--small);
  font-weight: 600;
  color: var(--text);
  text-align: right;
  background-color: var(--color, var(--border));
  border-radius: 2px;
  box-shadow: inset .25em .25em .25em hsl(0deg 0% 0% / 25.7%);

  span  {
    &:last-child {
      display: flex;
      gap: var(--spacing-02);
      align-items: center;
    }
  }

  svg {
    width: 1.5em;
    height: 1.5em;
  }
}
