.palette-display-container {
  display: grid;
  flex: 1;
  grid-template-columns: repeat(auto-fit, minmax(10ch, 1fr));
  padding: var(--spacing-04);
  border-radius: 20px;
}

.palette-display {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 5rem;
  padding: var(--button-padding);
  font-size: var(--small);
  font-weight: 600;
  color: var(--text);
  text-align: right;
  background-color: var(--color);

  &:first-child {
    border-radius: 4px 0 0 4px;
  }

  &:last-child {
    border-radius: 0 4px 4px 0;
  }
}
