.palette-display-container {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  border-radius: 2px;

  &::after {
    position: absolute;
    inset: 0;
    pointer-events: none;
    content: '';
    box-shadow: inset 0.25em 0.25em 0.25em hsl(0deg 0% 0% / 18.7%);
  }
}

.palette-display {
  display: flex;
  gap: var(--spacing-04);
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
  padding: var(--button-padding);
  font-size: var(--x-small);
  font-weight: 600;
  color: var(--text);
  text-align: right;
  letter-spacing: 0.02px;
  background-color: var(--color, var(--border));

  span {
    &:first-child {
      display: flex;
      gap: var(--spacing-02);
      align-items: center;
    }
  }

  svg {
    width: 1.25em;
    height: 1.25em;
  }
}
